.home {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;

}
.table-quy-hoach th,.table-quy-hoach td{
    border: 1px solid #000000 !important;
}

.ind {
    z-index: 10;
    background-color: #fff;
}

.nav-item {
    text-align: center;
}

.image_home {
    width: 100%;
}

.home p {
    text-align: justify;
    font-size: 20px;
}
.ml-13{
    margin-left: 10rem; 
    margin-right: 10rem; 
}
.mr-7 {
    margin-left: 12rem; 
    margin-right: 12rem; 
}

@media (max-width: 1920px) {
    .ml-13{
        margin-left: 10rem; 
        margin-right: 10rem; 
    }
    .mr-7 {
        margin-left: 12rem; 
        margin-right: 12rem; 
    }
}
@media (max-width: 1440px) {
    .ml-13 {
        margin-left: 6rem;
        margin-right: 6rem;
    }
    
    .ml-7 {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}
@media (max-width: 600px) {
    .ml-13, .mr-7 {
        margin-left: 1rem; 
        margin-right: 1rem; 
    }
}