.mt img{
    width: 60%;
    text-align: center;
    margin-left: 20%;
}
.mt p{
    font-size: 20px;
    text-align: justify;
}
.mt .al{
    text-align: center !important;
}
.mt{
    display: none;
}
#bando:hover{
    color: red !important;
  }
#bando .switch-lang{
  cursor: pointer;
}
#bando:hover .fa-angle-double-left{
    color: red !important;
}
#bando {
    cursor: pointer;
}
#bando{
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 70%;
    margin-right: 10%;
    background-color: rgb(0, 170, 76);
    color: #FFFFFF;
    font-weight: 900;
}
#bando label{
    margin: 0px;
}
#bando .fa-angle-double-left{
    margin-left: 10px;
}