.panel .title-section h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.panel .title-section{
    text-align: center;
}
.panel{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}
.panel .question .service-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: "Roboto Condensed","Helvetica" !important;
    text-transform: uppercase;
    text-align: center;
    background: #004370;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFF;
    width: 100%;
}
.panel #dLoaiBaoCao p {
    color: #444444;
    font-size: 16px;
    display: flex;
}
.panel .question #dLoaiBaoCao p {
    line-height: 35px;
    background: #ececec;
    border: solid 1px #ffffff;
    padding: 10px;
    width: 100%;
    margin: 0px;
}
.panel .question #dLoaiBaoCao p:hover,.panel  .question #dLoaiBaoCao p.active {
    color: #ec0000; 
    cursor: pointer;
}
.panel .dm{
   
    margin-left: 20px;
}
.modal1 {
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
.modal-image {
    width: 50%;
    margin-left: 25%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: #f1f1f1 !important;
    opacity: 0.5;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .image123{
    background-color: #005d9a;
    color: #FFF !important;
    border: none !important;
    text-align: left !important;
  }
  #content img{
    cursor: pointer;
}